
.logged-user {
    color: #ff4020;
    font-size: 1.1em;
}

.cc-text-link{
    text-decoration: none;

}



.testons{
    background-image: url("https://st3.depositphotos.com/13324256/17362/i/380/depositphotos_173629162-stock-photo-dark-wooden-background.jpg") ;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;

}